*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.todolist{
    text-align: center;
}
.id{
    padding: 5px;
}
.name{
    padding: 5px;

}
.age{
    padding: 5px;
}